
.container
{
    width: 100%;
  
}

.tab-content
{
/*background: rgba(220,220,220,0.2);*/
 border: 2px solid rgba(255,215,0,0.5);

}

#sectionB
{
    text-align: right;
    margin: 1%;
    margin-top: 0;
}

label
{
    right: 0;
    margin:0 auto;    
}

.important
{
    color: red;
}

.panel-login>.panel-heading {
	text-align:center;
}

.panel-login>.panel-heading a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading li
{
    width: 40%;
    margin-left: 10px;
}

/*
.panel-login>.panel-heading
{
    background-color: rgba(0,0,0,0.5);
}
*/


.panel-login>.panel-heading a.active {
	color: #029f5b; /*029f5b*/
    background-color: rgba(0,0,0,0.5);
	font-size: 1.8em;
    
}

.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}



.innter-form{
	padding-top:20px;
    padding: 10px;
}
.final-login li{
	width:50%;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs > li{
	color:#222 !important;
}


.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none !important;
    border-radius:none !important;
	text-transform:uppercase;
	font-size:1.2em;
    padding: 5% 30%;
}


.nav li a
{
    font-family: "Harmattan";
}

#reg_std_teh 
{
    margin-top: 1px;
}

.social-login{
	text-align:center;
	font-size:12px;
}
.social-login p{
	margin:15px 0;
}
.social-login ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.social-login ul li{
	width:33%;
	float:left;
    clear:fix;
}
.social-login ul li a{
	font-size:13px;
	color:#fff;
	text-decoration:none;
	padding:10px 0;
	display:block;
}
.social-login ul li:nth-child(1) a{
	background:#3b5998;
}
.social-login ul li:nth-child(2) a{
	background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
	background:#3698d9;
}
.sa-innate-form input[type=text], input[type=password], input[type=file], textarea, select, email{
    font-size:13px;
	padding:10px;
	border:1px solid#ccc;
	outline:none;
	width:100%;
	margin:8px 0;
	
}
.sa-innate-form input[type=submit]{
    border:1px solid#e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
	}
	.sa-innate-form input[type=submit]:hover{
	border:1px solid #db3b2b;
	background:#db3b2b;
	color:#fff;
        
	}
	
	.sa-innate-form button{
	background:green;
	color:#fff;
	font-size:14px;
	margin:8px auto;
    border-radius: 10px;
    display: block;
    width: 70%;
    height: 40px;
	}
	.sa-innate-form button:hover{
	border:1px solid white;
	background:darkgreen;
	color:#fff;   
	}
    .sa-innate-form p{
        font-size:13px;
        padding-top:10px;
    }


input[type=text]:focus , input[type=password]:focus{
  border: 1px solid green;
}
/*

@media screen and (min-width: 990px)
{
    .text-center 
    {
        width: 110%;
    }
}
*/
